<br>
<h5>All trademarks, images, titles, intellectual property and anything else related to a video game or video game platform are property of their respective owners.</h5>
<h5>Search data courtesy of the <a href="http://www.giantbomb.com/api/">GiantBomb API</a>. GamerMatch is owned and operated by <a href = "mailto:%64%73%68%61%6D%69%73%33%31%37%40%67%6D%61%69%6C%2E%63%6F%6D">Dmitry Shamis</a></h5>
