<h1>Search results:</h1>

<table>
  <tr>
    <td>Title</td>
    <td>Description</td>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <<td><a href="/games/search/<%=game[:id]%>"><%= game[:title] %></a></td>
    <td><%= game[:deck] %></td>
  </tr>
  <% end %>
</table>
