.detail_img {
  width: 500px;
  float: left;
}

.detail_img img {
  height: 500px;
  width: auto;
}

.game_details {
  width: 400px;
  float: left;
}

.games_index {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.games_index img {
  height: auto;
  width: 100px;
}

#table_header {
  text-align: center;
}

.users_detail h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h3:first-child {
  text-decoration: underline;
}
