body {
  height: auto;
  background-color: #EDC951;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00A0B0), to(#EDC951));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #EDC951, #00A0B0);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #EDC951, #00A0B0);

  /* IE 10 */
  background: -ms-linear-gradient(top, #EDC951, #00A0B0);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #EDC951, #00A0B0);
}

nav {
  margin: 0;
  margin-top: -30px;
  height: 50px;
  color: black;
  position: relative;
}

.root {
  color: black;
  text-decoration: none;
}

nav h1 {
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: -15px;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}

nav h4 {
  /*  margin-left: 35px;*/
  float: right;
  margin-right: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0 20px 0 20px;
  float: right;
}

.nav_bar {
  margin-top: 3px;
}
.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline-block;
  padding: 0 20px 0 20px;
  float: left;
}

.nav_bar #search_bar {
  float: right;
  margin-right: 30px;
}

hr {
  width: 1000px;
}
