body {
  min-height: 650px;
  background-color: #EDC951;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00A0B0), to(#EDC951));
  background: -webkit-linear-gradient(top, #EDC951, #00A0B0);
  background: -moz-linear-gradient(top, #EDC951, #00A0B0);
  background: -ms-linear-gradient(top, #EDC951, #00A0B0);
  background: -o-linear-gradient(top, #EDC951, #00A0B0);
}

nav {
  margin: 0;
  margin-top: -30px;
  height: 50px;
  color: black;
  position: relative;
}

nav h1 a {
  text-decoration: none;
}

nav h1 {
  margin-top: 30px;
  margin-left: 5px;
  margin-bottom: -15px;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
}

nav h4 {
  float: right;
  margin-right: 55px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0 20px 0 20px;
  float: right;
}

.nav_bar {
  margin-top: 3px;
}
.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline-block;
  padding: 0 20px 0 20px;
  float: left;
}

.nav_bar #search_bar {
  float: right;
  margin-right: 30px;
}

hr {
  width: 1000px;
}

.flash {
  margin-top: 30px;
  margin-left: 20px;
}

.right {
  margin-right: 35px;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

button {
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  background: #EB6841;
  background: -webkit-gradient(linear, left top, left bottom, from(#EB6841), to(#CC333F));
  background: -moz-linear-gradient(top,  #EB6841,  #CC333F);
}

button:hover {
  background: #00A0B0;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A0B0), to(#6A4A3C));
  background: -moz-linear-gradient(top,  #6A4A3C,  #00A0B0);
}

button:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6A4A3C), to(#EB6841));
  background: -moz-linear-gradient(top,  #6A4A3C,  #EB6841);
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  margin: 0;
  text-align: center;
}
