// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 1000px;
  margin: 0 auto;
}

.profile_details {
  text-align: center;
}

.index_games {
  width: 311px;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  float: left;
  position: relative;
}

.index_games img {
  height: 250px;
  width: auto;
  margin: 0 auto;
}

.index_games h3, h4 {
  margin: -1px;
}
