// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games_container {
  width: 1000px;
  margin: 0 auto;
}

.profile_details {
  text-align: center;
}

.profile_details li {
  display: inline-block;
  margin: 0 auto;
  margin: 0 20px 0 20px;
}

.index_games {
  width: 311px;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  float: left;
  position: relative;
}

.index_games img {
  height: 250px;
  width: auto;
  margin: 0 auto;
}

.index_games h3, h4 {
  margin: -1px;
}

h2, h3, li {
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-decoration: bold;
}
